<h1>Home Page</h1>
<h2>Welcome to Home Page.....</h2>
<p>Devise is a flexible authentication solution for Rails based on Warden.The Devise Wiki has lots of additional information about Devise including many "how-to" articles and answers to the most frequently asked questions.Devise requires a good understanding of the Rails Framework.</p>