@import "bootstrap";

.container-fluid{
	padding-right: 700px;
}

.background-image {
  position :fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -400;
  -webkit-transform: translateX(-30%) translateY(-70%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('cover.jpg') no-repeat;
  background-size: cover;
}

/*
 * Base structure
 */
body {
  height: 100%;
}
body {
  color: white;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}
/*
* Cover
*/
cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}
.cover {
  padding: 0 1.5rem;
  text-align: center;
  margin-top: 6rem;
}


.col-md-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
  text-align: center;
}

.col-md-8 {
text-align: center;
}
.btn-lg {
  align: center;
  padding: .75rem 1.25rem;
  font-weight: bold;
}

.col-md-6 {
  text-align: center;
  line-height: 2.0; 
}



/*
* Footer
*/

.mastfoot {
color: white;
}

.footer-style {
  margin-top: 8rem;
  color: black;
}



