<div class= "card" >
	<%= image_tag product_img(product.thumb_image_url, 'thumb') unless product.thumb_image.nil? %>
	 <p class= "card-text">
		<span><%= link_to product.title, product_path(product) %></span>
	</p>
</div> 