<div class="album text-muted">
<div class="container">
<%= render "shared/banner"%>

<%= render partial: 'product', collection: @products %>
<p class= "center">
	<%= link_to 'Create New Product', new_product_path, class: 'btn btn-primary' %></p>

</div>
</div>

